.container {
  background-image: url("../public/flower_background.jpg");
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

.inner_container {
  background: rgba(255, 255, 255, 0.2);
  /* border-radius: 16px; */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.8px);
  -webkit-backdrop-filter: blur(7.8px);

  /* background-color: red; */
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  display: flex;
  justify-content: center;
}

.title {
  font-size: 80px;
  color: white;
  height: fit-content;
  text-align: center;

  /* outline: 1px solid red; */
}
.main_container {
  width: 60vw;
  overflow-y: none;
  overflow-x: scroll;

   /*Removing Scrollbars*/
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

  /*Debugging*/
  /* outline: 1px solid black; */
}

/* Removing scrollbars*/
.main_container::-webkit-scrollbar {
  display: none;
}

.container_seasonal_tagging {
  background-color: #1e1e1e;
  /* From https://css.glass */
  /* background: rgba(0, 0, 0, 0.4);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(11px); */
  /* border: 1px solid rgba(0, 0, 0, 0.1); */
  margin-top: 30px;

  font-weight: bold;
  font-size: 1.2rem;
  color: white;
  padding: 10px 40px;
  filter: drop-shadow(5px 4px 7px rgb(0, 0, 0, 0.25));
  border-radius: 15px;
}